@model SimpleBlog.ViewModels.AuthLogin
@{
    ViewBag.Title = "Login Page";
}
<div> 
    <h1>  Login</h1>  
    
@using (Html.BeginForm())
{
    <div>
        @Html.LabelFor(x => x.UserName)
        @Html.EditorFor(x => x.UserName)
    </div>
    <div>
        @Html.LabelFor(x => x.Password)
        @Html.EditorFor(x => x.Password)
    </div>
    <div>
        <input type="submit" value="Login" />
    </div>

}

</div>



















<!--     <a href="#">Login</a>
      <br />
     1.ci link kullanımı
      @Html.RouteLink("click here", "Home") to go to homa page!
      <br />
      2.ci link kullanımı
      <a href="@Url.RouteUrl("Home")">Click here go to homapage</a>
    -->
 